<h1>Editing restaurant</h1>

<% form_for(@restaurant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
